html {
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* Styles for all devices */

/*body {
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for mobile devices */
/*
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    line-height: 1.2;
  }
}

/* Styles for laptop devices */
/*
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }
}*/


body {
  background:#0d0d0d;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
}

.menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#p1 {
  width:200px;
  height:200px;
}

.p1Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p1Name {
    padding-top: 100px;
  font-size: 30px;
  font-family:  Cursive;
  color: #f8a735;
  text-transform: uppercase;
  font-weight: bold;
}

#p1Health {
    color:#f7fdf7;
  font-size: 50px;
}

#p2{
  width:200px;
  height:200px;
}


.p2Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p2Name {
    padding-top: 100px;
  font-size: 30px;
  font-family:  Cursive;
  color: #6511e4;
  text-transform: uppercase;
  font-weight: bold;
}

#p2Health {
    color: white;
  font-size: 50px;
}

.playerControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

.AttackDiv{
    color:white;
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
/*   background: blue; */
}

.HealDiv {
    color: white;
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 60px;
  width: 100px;
/*   background: yellow; */
}

.attack {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  border:none;
  background: #ec0909;
  outline: none;

}

.heal {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  border:none;
  background: #0fdf0c;
  outline: none;

}

#play {
  height: 60px;
  width: 120px;
  border-radius: 20px;
/*   border:none; */
  background: #2044d5;
  outline: none;
  color: white;
}

#result {
  padding: 80px;
  font-size: 50px;
  color : #3dff3d;
}

#reset {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
/*   border:none; */
  background: #FF8800;
  outline: none;
  color: white;
}

.resultContainer {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:500px;
  width: 300px;
}